{
  "presets": ["@babel/preset-typescript", "@babel/preset-react"],
  "env": {
    "development": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false,
            "loose": true,
            "target": {
              "chrome": 65
            }
          }
        ]
      ],
      "plugins": [
        "react-hot-loader/babel",
        [
          "babel-plugin-import",
          {
            "libraryName": "antd",
            "libraryDirectory": "es",
            "style": "css"
          }
        ]
      ]
    },
    "production": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false,
            "loose": true
          }
        ]
      ],
      "plugins": [
        [
          "@babel/plugin-transform-runtime",
          {
            "helpers": true,
            "corejs": 2
          }
        ]
      ]
    },
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false,
            "loose": true,
            "targets": {
              "node": 10
            }
          }
        ]
      ],
      "plugins": ["@babel/plugin-transform-modules-commonjs"]
    }
  }
}
